<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title, blog %></h2>
  <p class="blog-post-meta">Published | <span><%= distance_of_time_in_words(blog.created_at, Time.now)%> ago</p></span>
  <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>
<div><%= markdown blog.body.truncate(800)%></div> 


  <div class="row">
    <div class="col-3">
      <%= link_to 'Read More', blog %>
    </div>
    
    <div class="col-9">
      <span class="cmts"> <%= pluralize(blog.comments.count, "| Comment") %><span>
    </div>
  </div>

</div>

