<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="PermalinkOverlay"></div>
    <div class="backgroundtest" >
     <%= render 'shared/storys_nav' %>

    <%= render 'shared/blog_masthead' %>
    </div> 
      <%= render 'shared/blog_buttons' %>
    <!-- start of container and row elements -->
    <div class="container">

      <div class="row">

        <div class="col-3 d-none d-md-block">
          <%= render 'shared/blog_sidebar' %>
        </div>

        <div class="col-md-9">
          <%= yield %>
        </div>

        <!-- appear bottom when breakpoint after md -->
        <div class="col-12 d-md-none">
          <%= render 'shared/blog_sidebar' %>
        </div>
        
        <%= alerts %>
      
      </div>
    </div>
  </body>
<footer>
  <!--<div class="progressContainer"><div id="progress" class="progress" ></div></div>-->
  <%= render 'shared/blog_footer' %>
</footer>

</html>
